.section-MedicalFacility {
  height: 350px;
  margin-top: 20px;
  padding-top: 4px;
  background-color: #f1f0f0;

  .MedicalFacility-header {
    height: 34px;
    display: flex;
    justify-content: space-between;
    margin-right: 106px;
    margin-left: 106px;

    span.title-header-MedicalFacility {
      font-size: 25px;
      font-weight: 600;
    }
  }
  .Main_Clinic {
    display: flex;
    flex-direction: column;

    .Imange_clinic {
      width: 300px;
      height: 260px;

      img {
        width: 300px !important ;
        height: 300px !important  ;
      }
      span {
        font-weight: bold;
        font-size: 30px;
      }
    }
  }

  .slick-slider.slick-initialized {
    height: "100%";
    height: 310px;
  }
  .slick-initialized .slick-slide {
    display: block;
    height: 310px;
  }
  button.slick-arrow.slick-prev {
    width: 35px;
    height: 35px;
    background: #ffb8b8;
  }
  button.slick-arrow.slick-next {
    width: 35px;
    height: 35px;
    background: #ffb8b8;
  }
  .slick-slide img {
    display: block;
    padding-top: 55px;
    width: 306px;
    margin: auto;
  }
}
