.formModal {
  .container_remedy {
    width: 400px;
    height: 300px;
  }
  .bodymodal {
    display: flex;
    flex-direction: row;
  }
  .btn-close {
    margin-left: 350px;
    font-size: 15px;
  }
}
