.hour_schedule {
  padding: auto;
  button.buttonTime {
    /* padding-right: 11px; */
    margin-right: 33px;
    margin-top: 20px;
  }
}

.buttonSave_DRSchedule {
  width: 100%;
  .buttonSchedule {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
