@import "../../styles/common.scss";

.header-container {
  width: "100%";
  z-index: 99;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    135deg,
    rgba(34, 193, 195, 1) 0%,
    rgb(138, 41, 138) 100%
  );
  color: $common-text-color;
  height: 40px;
  position: relative;
  .btn-logout {
    color: $common-text-color;
    line-height: 40px;
    height: 40px;
    padding: 0 10px;
    &:hover {
      background-color: darken($colormain, 5);
    }
    i {
      font-size: $base-size + 1px;
    }
  }

  .navigator-menu .menu-group .menu-group-name:first-child {
    border-left: none;
    border: 0px;

    &.active {
      span {
        font-weight: bold;
        color: rgb(147, 18, 78);
      }
    }
  }

  .navigator-menu .menu-group .menu-list .menu {
    width: 220px;
  }

  .language-vi {
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
    &.active {
      span {
        font-weight: bold;
        color: rgb(255, 44, 142);
      }
    }
  }

  .language-en {
    cursor: pointer;
    &.active {
      span {
        font-weight: bold;
        color: rgb(255, 44, 142);
      }
    }
  }
}
