.tittle_clinic {
  text-align: center;
  font-size: 25px;
  color: #6535b3;
  font-weight: bold;
  padding-bottom: 50px;
}
.preview-Image_specialist {
  width: 260px;
  height: 109px;
  border: 1px solid;
  background-size: cover;
}

.buttonAddSpec {
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}
